<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    JSF 2 Login
</h:head>
<h:body>
    <p>Login to access secure pages:</p>
   <h:form>
    <h:outputLabel for="usernameInput">
    </h:outputLabel>
    <h:inputText id="usernameInput" value="#{loginBean.username}" 
                 required="true" />
    <br />
    <h:outputLabel for="passwordInput">
    </h:outputLabel>
    <h:inputSecret id="passwordInput" value="#{loginBean.password}" 
                   required="true" />
    <br />
    <h:commandButton value="Login" 
                     action="#{loginBean.login}" />
                     
                     <h:link value="Dont have an account? Sign up" outcome="signUp" />
</h:form>
</h:body>
</html>