<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:f="http://java.sun.com/jsf/core"    
   xmlns:h="http://java.sun.com/jsf/html">
   <h:head>
      <title>JSF Tutorial!</title>
   </h:head>
   <h:body>
<f:view>
		<p>
			<h:message id="errors" for="User_ID" style="color:red"/>
		</p>
	<h:form>
		<h:panelGrid border="1" columns="2">
			<h:outputText value="Name"></h:outputText>
			<h:inputText value="#{user.fullName}"></h:inputText>
			<h:outputText value="Password"></h:outputText>
			<h:inputText value="#{user.password}"></h:inputText>
			<h:outputText value="Nick"></h:outputText>
			<h:inputText value="#{user.nick}"></h:inputText>
			<h:outputText value="Mail"></h:outputText>
			<h:inputText value="#{user.mail}"></h:inputText>
			<h:commandButton action="#{user.addUser}" 
				value="Add Customer"></h:commandButton>
		</h:panelGrid>
	</h:form>
</f:view>
   </h:body>
</html> 