<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">

<h:head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</h:head>
<body>
	<h1>Datos del usuario logueado</h1>
	<b:container>
		<h:form>
			<b:row>
				<strong><h:outputText value="Nick: " /></strong>
				<h:outputText value="#{loginBean.currentUser.nick}" />
			</b:row>

			 <h:commandButton value="Logout"
				action="#{loginBean.logout}" />
		</h:form>
	</b:container>
</body>
</html>